/* general rules */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer{
    padding: 0 15%;
}

a{
    text-decoration: none;
    color: #fff;
}

/* header rules */
header{
    background-color: #FF6900;
    color: #fff;
    width: 100%;
    min-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    height: 35px;
}

/* main rules */